#unad{	/* propiedades logo institucional */
	margin: auto;
	width: 200px;
	height:40px;
}
.contenedor{
  height: 49%;
  background-color: #6A737C;
  margin: 1% 1%;
}

			* {
				margin:0px;
				padding:0px;
			}
			
			#header {
				margin:auto;
				width:50px;
				font-family:sans-serif;
			}
			
			#header1 {
				
				margin:auto;
				width:50px;
				font-family:sans-serif;
			}
			
			ul, ol {
				list-style:none;
			}
			
			.nav {
			background-color:#004669;
			width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
			left: 0; /* Posicionamos la cabecera al lado izquierdo */
			top: 0; /* Posicionamos la cabecera pegada arriba */
			position: fixed; /* Hacemos que la cabecera tenga una posición fija */	
			}
 nav ul {
		float:left;
		margin: 0;
		padding: 0;
		list-style-type: none;
		padding-right: 0;
		position: relative; 
      
	}
	
		nav ul li {
			display: inline-block;
			line-height: 20px;
			position: relative; 
            left: 35%;	/* Ubicacion del Menu */		
		}
			.nav > li {
				float: center; /* Alinear el texto */
				
			}
			
			.nav li a {
				background-color:#004669;
				color:#33DDFF;
				text-decoration:none;
				padding:20px;
				display:block;
			}
			
			.nav li a:hover {
				background-color:#FFBB33; /* Efecto al pasar Mouse */
			}
			
			.nav li ul {
				display:none;
				position:absolute;
				min-width: 150px; /* extender tamaño cuadro */
			}
			
			.nav li:hover > ul {
				display:block;
			}
			
			.nav li ul li {
				position:relative;
			}
			
			.nav li ul li ul {
				right: 100px;
				top:0px;
			}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #004669;
  color: white;
  text-align: center;
}
